.DS_Store
Encoder/v1.1/pic1.png
Encoder/v1.1/pic2.png
Encoder/v1.1/pic3.png
Encoder/v1.1/T-M3W264477A-W264477ASM2-20sets-Encoder_BOM  2020-9-29.xls
Encoder_SPI/v1/assembly/T-J17W264477A-W264477ASJ16-20sets-BOM --Janice-2021.01.18 (1).xls
Encoder_SPI/v1/assembly/T-J17W264477A.zip
Encoder/v1.1/W264477ASM2.rar
*-bak
Encoder_SPI_Panel/v1.1/assembly/T-J28W264477A.zip
Encoder_SPI_Panel/v1.1/assembly/T-J28W264477A/
Encoder_SPI/v1.1/
Encoder_SPI/Encoder-backups/
Encoder_SPI/v1.1_assembly.zip
Encoder_SPI/v1.1_assembly/
