.DS_Store
Encoder/v1.1/pic1.png
Encoder/v1.1/pic2.png
Encoder/v1.1/pic3.png
Encoder/v1.1/T-M3W264477A-W264477ASM2-20sets-Encoder_BOM  2020-9-29.xls
Encoder_SPI/v1/assembly/T-J17W264477A-W264477ASJ16-20sets-BOM --Janice-2021.01.18 (1).xls
Encoder_SPI/v1/assembly/T-J17W264477A.zip
Encoder/v1.1/W264477ASM2.rar
*-bak
Encoder_SPI_Panel/v1.1/assembly/T-J28W264477A.zip
Encoder_SPI_Panel/v1.1/assembly/T-J28W264477A/
Encoder_SPI/v1.1/
Encoder_SPI/Encoder-backups/
Encoder_SPI/v1.1_assembly.zip
Encoder_SPI/v1.1_assembly/
Encoder_SPI_A1333/Encoder_SPI_A1333-backups/
Encoder_SPI_A1334/Encoder_SPI_A1334-backups/
Encoder_SPI_A1334/v1/
Encoder_SPI_A1334/Encoder_SPI_A1334.csv
Encoder_SPI_A1334/Encoder_SPI_A1334.xml
Encoder_SPI_SC60228/Encoder_SPI_SC60228-backups/
Encoder_SPI_SC60228/v1/

Encoder_SPI_SC60228/Encoder_SPI_SC60228.xml
Encoder_SPI_SC60228/Encoder_SPI_SC60228.csv
Encoder_SPI_MT6701_I2CAdapter/Encoder_SPI_MT6701_I2CAdapter-backups/
Encoder_SPI_MT6701/Encoder_SPI_MT6701-backups/
Encoder_SPI_MA330/Encoder_SPI_MA330-backups/
Encoder_SPI_MA730/Encoder_SPI_MA730-backups/
Encoder_SPI_MT6701/v1/
Encoder_SPI_MA330/v1/
Encoder_SPI_MT6701_I2CAdapter/v1/
Encoder_SPI_MT6701_I2CAdapter/Encoder_SPI_MT6701_I2CAdapter.numbers
Encoder_SPI_MA330/Encoder_SPI_MA330.numbers
Encoder_SPI_MT6701/Encoder_SPI_MT6701.numbers
Encoder_MT6835/Encoder_MT6835-backups
Encoder_SPI_MT6701_I2CAdapter/v1.1/
Encoder_MT6835/Encoder_MT6835.numbers
Encoder_MT6835/v1/
Encoder_MT6835/v1.zip
